<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udhaar.khak"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Payments"
            android:label="@string/title_activity_payments" >
        </activity>
        <activity
            android:name=".Debts"
            android:label="@string/title_activity_debts" >
        </activity>
        <activity
            android:name=".Summarys"
            android:label="@string/title_activity_summarys" >
        </activity>
        <activity
            android:name=".Payfrag"
            android:label="@string/title_activity_payfrag" >
        </activity>
    </application>

</manifest>
